<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
  <%= link_to restaurant.name, restaurant_path(restaurant) %>
  <%= restaurant.description %>
    <% @reviews.each do |review| %>
      <% if review.restaurant_id == restaurant.id %>
      <%= review.thoughts %>
      <%= review.rating %>
      <% end %>
    <% end %>
  <%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %>
  <%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %>
  <%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %>
  <hr>
  <% end %>
<% else %>
  No restaurants yet
<% end %>

<a href="restaurants/new">Add a restaurant</a>
